# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Run All Specs': 'atom-rspec:run'
      'Run Current Spec': 'atom-rspec:run-for-line'
      'Re-Run Last Spec': 'atom-rspec:run-last'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'RSpec'
      'submenu': [
        { 'label': 'Run All Specs', 'command': 'atom-rspec:run' }
        { 'label': 'Run Current Spec', 'command': 'atom-rspec:run-for-line' }
        { 'label': 'Re-Run Last Spec', 'command': 'atom-rspec:run-last' }
      ]
    ]
  }
]
