# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer': [
      { 'label': 'Run All Specs', 'command': 'rspec:run' }
      { 'label': 'Run Current Spec', 'command': 'rspec:run-for-line' }
      { 'label': 'Re-Run Last Spec', 'command': 'rspec:run-last' }
    ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'RSpec'
      'submenu': [
        { 'label': 'Run All Specs', 'command': 'rspec:run' }
        { 'label': 'Run Current Spec', 'command': 'rspec:run-for-line' }
        { 'label': 'Re-Run Last Spec', 'command': 'rspec:run-last' }
      ]
    ]
  }
]
